<include file="public/header"/>
<form action="" method="post">
    <input type="hidden" name="mid" value="{$member_info.id}" />
    <table class="form_table">
        <tr class="tr1">
            <td class="td1">用户名</td>
            <td class="td2"><input class="in_text" type="text" name="account" value="{$member_info.account}" /></td>
            <td class="td3">* 登录账号</td>
        </tr>
        <tr class="tr1">
            <td class="td1">真实姓名</td>
            <td class="td2"><input class="in_text" type="text" name="nickname" value="{$member_info.nickname}" /></td>
            <td class="td3">* 真实姓名</td>
        </tr>
        <tr class="tr1">
            <td class="td1">密码</td>
            <td class="td2"><input class="in_text" type="text" name="pass" value="" /></td>
            <td class="td3">* 登录密码</td>
        </tr>
        <tr class="tr1">
            <td class="td1"></td>
            <td class="td2"></td>
            <td class="td3"><input class="submit" type="submit" value="确认" /></td>
        </tr>
    </table>
</form>

<include file="public/footer"/>