<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/Public/css/jquery.pagination.css"/>
    <link rel="stylesheet" href="/Public/css/common.css"/>
    <link rel="stylesheet" href="/Public/css/area.css"/>
    <link rel="stylesheet" href="/Public/css/my.css"/>
</head>
<body>
<include file="public/person_header" />
<div class="center-contain">
    <div class="container clearfloat">
        <include file="public/company_left" />
        <div class="content-rt">
            <h3>公司资料</h3>
            <div class="form-box">
                <form action="" method="post">
                    <input type="hidden" name="id" value="{$company_info.id}"/>
                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>公司名</label>
                        </div>
                        <div class="col-rt lf">
                            <input type="text" name="company_name" value="{$company_info.company_name}" placeholder="请输入公司名"/>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>公司规模</label>
                        </div>
                        <div class="col-rt lf">
                            <div class="selector s">
                                <select name="company_scale" style="width: 200px;">
                                    <option value="0">未选择</option>
                                    <?php foreach($company_scale as $k=>$v){ ?>
                                    <option value="{$k}" <?php if($company_info['company_scale'] == $k){echo 'selected';} ?>>{$v}</option>
                                    <?php } ?>
                                </select>
                                <i><img src="/Public/images/down.jpg" alt=""/></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>联系人</label>
                        </div>
                        <div class="col-rt lf">
                            <input type="text" name="contact" value="{$company_info.contact}" placeholder="请输入公司联系人"/>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>联系电话</label>
                        </div>
                        <div class="col-rt lf">
                            <input type="text" name="tel" value="{$company_info.tel}" placeholder="请输入联系电话"/>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>所在地区</label>
                        </div>
                        <div class="col-rt lf">
                            <div id="city">
                                <select class="prov" name="province" style="width:auto;">
                                    <option value="0">请选择</option>
                                    <?php foreach($province_list as $k=>$v){ ?>
                                    <option value="{$v.id}" <?php if($company_info['province'] == $v['id']){echo 'selected';} ?>>{$v.name}</option>
                                    <?php } ?>
                                </select>&nbsp;
                                <select class="city" name="city" style="width:auto;">
                                    <option value="0">请选择</option>
                                    <?php foreach($city_list as $k=>$v){ ?>
                                    <option value="{$v.id}" <?php if($v['id'] == $company_info['city']){echo 'selected';} ?>>{$v.name}</option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>详细地址</label>
                        </div>
                        <div class="col-rt lf">
                            <input type="text" name="address" value="{$company_info.address}" placeholder="请输入详细地址"/>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf">
                            <label>公司介绍</label>
                        </div>
                        <div class="col-rt lf">
                            <textarea name="intro">{$company_info.intro}</textarea>
                        </div>
                    </div>

                    <div class="form-group clearfloat">
                        <div class="col-lf lf" style="height: 1px;">
                        </div>
                        <div class="col-rt lf">
                            <button class="get-code" id="publish_01">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--验证内容-->
<div class="false">
    <div class="false_text">
        <div class="close" id="close"><img src="/Public/images/delete.png" alt=""/></div>
        <p></p>
    </div>
</div>
<include file="public/footer" />
<script src="/Public/js/jquery-1.11.3.js"></script>
<script src="/Public/js/my.js"></script>
<script>
    $('.prov').change(function(){
        var province = $(this).val();
        $('.city').empty();
        if(province == 0){
            return ;
        }

        $.post("/admin/ajax/ajax_city",{province:province},function(data){
            if(data.code == 1){
                alert(data.message);
                return ;
            }

            $('.city').append("<option value=\"0\">请选择</option>");
            for(var i=0;i<data.data.length;i++){
                $('.city').append("<option value=\""+data.data[i].id+"\">"+data.data[i].name+"</option>");
            }
        },'json')
    })
</script>
</body>
</html>