<include file="public/header"/>
<form action="" method="post">
    <input type="hidden" name="id" value="{$user_info.id}" />
    <table class="form_table">
        <tr class="tr1">
            <td class="td1">手机号</td>
            <td class="td2"><input class="in_text" type="text" size="35" name="phone" value="{$user_info.phone}" ></td>
            <td class="td3">* 必填</td>
        </tr>
        <tr class="tr1">
            <td class="td1">昵称</td>
            <td class="td2"><input class="in_text" type="text" size="35" name="nickname" value="{$user_info.nickname}" ></td>
            <td class="td3">* 必填</td>
        </tr>
        <tr class="tr1">
            <td class="td1">登录密码</td>
            <td class="td2"><input class="in_text" type="text" size="35" name="password" ></td>
            <td class="td3"></td>
        </tr>
        <tr class="tr1">
            <td class="td1">真实姓名</td>
            <td class="td2"><input class="in_text" type="text" size="35" name="name" value="{$person_info.name}" ></td>
            <td class="td3">* 必填</td>
        </tr>
        <tr class="tr1">
            <td class="td1">身份证号</td>
            <td class="td2"><input class="in_text" type="text" size="35" name="id_card" value="{$person_info.id_card}" ></td>
            <td class="td3"></td>
        </tr>
        <tr class="tr1">
            <td class="td1">性别</td>
            <td class="td2">
                <input type="radio" name="sex" value="1" <?php if($person_info['sex'] == 1){echo 'checked';} ?> />男
                <input type="radio" name="sex" value="2" <?php if($person_info['sex'] == 2){echo 'checked';} ?> />女
            </td>
            <td class="td3"></td>
        </tr>
        <tr class="tr1">
            <td class="td1">所在地区</td>
            <td>
                <div id="city">
                    <select class="prov" name="province" style="width:auto;">
                        <option value="0">请选择</option>
                        <?php foreach($province_list as $k=>$v){ ?>
                        <option value="{$v.id}" <?php if($v['id'] == $person_info['province']){echo 'selected';} ?>>{$v.name}</option>
                        <?php } ?>
                    </select>&nbsp;
                    <select class="city" name="city" style="width:auto;">
                        <option value="0">请选择</option>
                        <?php foreach($city_list as $k=>$v){ ?>
                        <option value="{$v.id}" <?php if($v['id'] == $person_info['city']){echo 'selected';} ?>>{$v.name}</option>
                        <?php } ?>
                    </select>
                </div>
            </td>
            <td class="td3"></td>
        </tr>
        <tr class="tr1">
            <td class="td1">个人简介</td>
            <td class="td2">
                <textarea name="intro" id="" cols="30" rows="10" style="padding:5px;vertical-align: middle;">{$person_info.intro}</textarea>
            </td>
            <td class="td3"></td>
        </tr>
        <tr class="tr1">
            <td class="td1"></td>
            <td class="td2"></td>
            <td class="td3"><input class="submit" type="submit" value="确认" /></td>
        </tr>
    </table>
</form>
<script>
    $('.prov').change(function(){
        var province = $(this).val();
        $('.city').empty();
        if(province == 0){
            return ;
        }

        $.post("/admin/ajax/ajax_city",{province:province},function(data){
            if(data.code == 1){
                alert(data.message);
                return ;
            }

            $('.city').append("<option value=\"0\">请选择</option>");
            for(var i=0;i<data.data.length;i++){
                $('.city').append("<option value=\""+data.data[i].id+"\">"+data.data[i].name+"</option>");
            }
        },'json')
    })
</script>
<include file="public/footer"/>